html {
	height: 100%;
	margin: 0;
}

body {
	background-color: #24496e;
	margin: 0;
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.navbar {
	/* background-color: rgba(7, 5, 67, .7); */
}

.footer {
	height: 100%;
	width: 100vw;
	margin-bottom: -4rem;
	border: .02rem ridge black !important;
}

.landing {
	height: 60vh;
	color: rgba(7, 5, 67, 1);
	flex: 1;
}

.nav-logo {
	height: 10vw;
	background-color: rgba(255, 255, 255, .1);
	border: .01rem solid black;
}

.main-logo {
	height: 20vw;
	padding: 0;
	margin: 0;
}

.mainLogo-appear {
	opacity: 0.01;
}

.mainLogo-appear.mainLogo-appear-active {
	opacity: 1;
	transition: opacity .5000ms ease-in;
}

.mainLogo-enter {
	opacity: 0.01;
	width: 0;
}

.mainLogo-enter.mainLogo-enter-active {
	opacity: 1;
	width: 100%;
	transition: 700ms;
}

.mainLogo-leave {
	opacity: 1;
	width: 100%;
}

.mainLogo-leave.mainLogo-leave-active {
	opacity: 0.01;
	width: 0;
	transition: 700ms;
}
