html {
  width: 100vw;
  margin: 0;
}

body {
  background-color: #24496E;
  width: 100vw;
  margin: 0;
}

.navbar {
  /* background-color: rgba(7, 5, 67, .7); */
}

.footer {
  height: 20%;
  border: 5px solid black;
}

.landing {
  height: 100%;
  color: rgba(7, 5, 67, 1);
  overflow: scroll;
}

.nav-logo {
  height: 10vw;
  background-color: rgba(255, 255, 255, .1);
  border: .01rem solid black;
}

.main-logo {
  height: 20vw;
  padding: 0;
  margin: 0;
  border: .01rem solid rgba(0,0,0,.1);
}